/*
* Nakuru. 2007.
* Created: by A.Zainullina
*/
body {
    margin: 0;
    padding: 0;
}

body, td, input {
    font-family: Arial, Verdana, sans-serif;
    font-size: 80%;
}

.header, .entity, .errors {
    width: 100%;
}

form input, .entity, .entity td, .table td, .errors td{
    background: rgb( 240, 240, 240 );
}

.btn, .smallBtn, .inputBtn, input[type="text"] {
    background: rgb( 260, 260, 260 );
}

.body, td {
    background: white;
}

.header {
    margin-bottom: 10px;
    border-bottom: solid 1px #b8b8b8;
}

.header td {
    font-size: 120%;
    text-align: center;
    padding: 10px;
}

.btn {
    width: 150px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    font-size: 85%;
}

.smallBtn{
    width: 60px;
    height: 20px;
    text-align: center;
    font-size: 75%;
}


.inputBtn {
    width: 120px;
    height: 20px;
    text-align: center;
    font-weight: bold;
}

.entity {
    text-align: left;
    border: 1px solid #b8b8b8;
    margin-top: 10px;
    margin-bottom: 10px;
}

.entity td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.table {
    text-align: left;
    margin: 0;
    padding: 0;
}

.table td {
    margin: 2px;
    padding: 2px;
    text-align: center;
}

.table td.head {
    background: rgb( 231, 231, 231 );
    text-align: center;
    border-bottom: 1px solid #b8b8b8;
}

.errors {
    background: rgb( 231, 231, 231 );
    text-align: left;
    border: 1px solid #666666;
    margin-top: 10px;
    margin-bottom: 10px;
}

.errors td {
    color: red;
    font-size: 75%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

form input.fieldInput, form select.fieldInput, form textarea.fieldInput {
    max-width: 100%;
    width: 100%;
    background: white;
    font-size: 90%;
}

form textarea {
    max-width: 100%;
    width: 100%;
    background: white;
    font-size: 90%;
}

form input[type="text"] {
    max-width: 100%;
    width: 100%;
    background: white;
    font-size: 90%;
}

form input.fieldInputLowerWidth, form select.fieldInputLowerWidth, form textarea.fieldInputLowerWidth{
    max-width: 100%;
    width: 50%;
    background: white;
}


a {
    color: black;
}

.back_link, .config_props_link {
    font-size: 85%;
    font-weight: bold;
}


a:hover, .menu a:hover {
    color: gray;
}

.menu {
    width: 70%;
}

.menu td {
    text-align: center;
    font-size: 75%;
    padding-top: 3px;
    font-weight:bold;
    padding-bottom: 3px;
    background: rgb( 231, 231, 231 );
}

.menu td.act {
    background: white;
}

.menu a {
    color: black;
}

.pink_back {
    BACKGROUND: rgb(154,180,12);
}

.header td {
    color: rgb(154,180,12);
}